


.form1 {
    
    background-color: #F7E8ED !important;   
    margin: 0rem 2rem 1rem 2rem !important;
    border: 1px solid grey;
}

body {
    background: url("../Images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;    
    font-family: "Montserrat", sans-serif !important;
}



.form2 {
    background-color: #F7E8ED !important;   
    margin: 0rem 2rem 2rem 2rem !important;
    border: 1px solid grey;
}

.row1 {
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  
}

.row2 {
    display:flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
  
}

.details {
    font-weight: bold;
}



.main_heading{
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif !important;
    color: #0D6EFD;
   
}

.assessment_heading {
    font-size: 1rem;
    padding:0rem 1rem;
}

.instructions {
    font-size: 0.8rem;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif !important;
}

.true {
    color:tomato
}

.false {
    color:green
}



.logout-btn{
 font-size: 1rem !important;
 font-weight: bold;

}

.card {
    
    margin: 1rem !important;
    box-shadow: 0 0 1em rgba(0,0,0,0.1) !important;
    display:flex;
}



.all_grades {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hr {
    border:2px solid black;
}


.logout-btn {
    float:right;
   
   
}

.submit_btnCol {
    display:flex;
    justify-content: center;

}

.submit_btn {
        margin: 30px;
        width:100%;
       
}



@media only screen and (min-width:768px) { 

    .main_heading{
        font-size: 2.5rem;
       
    }

    .instructions {
        font-size: 1.5rem;
        text-decoration: underline;
        font-family: 'Roboto', sans-serif !important;
    }
    


    .assessment_heading {
        font-size: 1.7rem;
        padding:0rem 1rem;
    }

    .form1 {
    
        background-color: indianred; 
        margin: 0rem 5rem 3rem 5rem !important; 
    }


    .form2 {
        background-color:darksalmon;
        margin: 0rem 5rem 3rem 5rem !important; 
    }
    
    
    .logout-btn{
     font-size: 1rem !important;
     font-weight: bold;
    }

    .row1 {
        display:flex;
        flex-direction: row;
        width: 100%;
        padding: 1rem;
      
    }

    .row2 {
        display:flex;
        justify-content: center;
        width: 100%;
        padding: 4rem;
      
    }

    .second_six {
        border-left: 2px solid grey ;
    }

    .submit_btn {
        width:50%;
        padding: 1rem !important;
        font-weight: bold !important;
       
}
    
}