.form {
    display: flex !important;
    justify-content: center !important;
    margin-top: 3rem;
    margin-left: 1rem;
}

.details {
    font-weight: bold;
}

.card_box {
    
    
}

.form-heading {
    font-size: 1.3rem;
   
}

.logout-btn{
 font-size: 1rem !important;
 font-weight: bold;
}

.card {
    
    margin: 1rem !important;
    box-shadow: 0 0 1em rgba(0,0,0,0.1) !important;
    display:flex;
}



.all_grades {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hr {
    border:2px solid black;
}


.logout-btn {
    float:right;
   
}



@media only screen and (min-width:768px) { 
    .form-heading {
        font-size: 2rem;
    }
    
    .logout-btn{
     font-size: 1rem !important;
     font-weight: bold;
    }
}